{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!
{% endblock %}

{% block body %}
	<div class="">
		<div class="">
			<div class="">
				<p class="">Ceci est une démo de React dans une application Symfony</p>
				<p class="">Ceci est une démo de React dans une application Symfony</p>
                <div {{ react_component('MyComponent', { 'fullName': 'YoanDev' }) }}></div>
				<div {{ react_component('Mybutton') }}></div>

            </div>
		</div>
	</div>
{% endblock %}
