{% extends 'base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}

{% block body %}
    <main class="">
        <div>
            <h3 class="p-5 text-capitalize" style="color: {{category.color}}">{{ category.name }}</h3>
            <div  id="article-list">
                {% include 'article/list.html.twig' with { articles: category.articles } %}
            </div>
        </div>
    </main>
{% endblock %}
