{% extends 'base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}

{% block body %}
    <main class="container">
        <div>
            <h3>{{ category.name }}</h3>
            <div  id="article-list">
                {% include 'article/list.html.twig' with { articles: articles } %}
            </div>
        </div>
    </main>
{% endblock %}
