{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {{ form_start(form) }}
        {{ form_row(form.csvFile) }}
        <button type="submit">Télécharger et Afficher le Graphique</button>
        {{ form_end(form) }}
        <br>
        {% if chart is defined and chart is not null %}
            {{ render_chart(chart) }}
        {% endif %}
    </div>
{% endblock %}
