{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center py-5">
        <h2>{% block message %}{% endblock %}</h2>
        <h3>{% block description %}{% endblock %}</h3>
    </div>
{% endblock %}