{% extends 'base.html.twig' %}

{% block title %}
	{{article.title}}
{% endblock %}

{% block body %}

	<div {{ react_component('Article', { 'articleTitle': article.title, 'articleContent' : article.content, 'articleDate' : article.createdAt|date('d M Y'), 'articleComments' : article.comments|length  } ) }}></div>

    <div id="root"></div>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div class="comment-area">
			{{ form(commentForm, {'attr':{'class':'comment-form'} }) }}
			</div>
		{% endif %}


		<div class="comment-list">
			{% for comment in comments %}
				{% include 'comment/index.html.twig' with [comment] %}
			{% endfor %}
		</div>


	{% endblock %}
