{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div>
        <div>
            <h2>profil de {{ user.username|capitalize }}</h2>

            <div>
                <label for="username" class="form-label">Nom d'utilisateur</label>
            </div>

            <div class="input-group">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" value="{{ user.username }}" readonly>
            </div>

            <div>
                <p>Nombre de commentaires posté : {{ user.comments|length }}</p>
            </div>
        </div>
    </div>
{% endblock %}
