<div>
    <h4 class=" text-white text-center p-3">Catégories</h4>
    <ol>
        {% for category in categories %}
            <li>
                <a class="text-decoration-none text-white" href="{{ path('category_show', {slug: category.slug}) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ol>
</div>